# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# User uploaded media
media/

# Collected static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/